/*  THIN */

// @font-face {
//   font-family: 'Gilroy';
//   font-style: normal;
//   font-display: auto;
//   font-weight: 100;
//   src: local('Gilroy Thin'), local('Gilroy-Thin'),
//     url('../fonts/Gilroy-Thin.eot'),
//     url('../fonts/Gilroy-Thin.woff2') format('woff2'),
//     url('../fonts/Gilroy-Thin.eot?#iefix') format('embedded-opentype'),
//     url('../fonts/Gilroy-Thin.woff') format('woff'),
//     url('../fonts/Gilroy-Thin.ttf') format('truetype');
// }

// @font-face {
//   font-family: 'Gilroy';
//   font-style: italic;
//   font-display: auto;
//   font-weight: 100;
//   src: local('Gilroy Thin Italic'), local('Gilroy-Thin-Italic'),
//     url('../fonts/Gilroy-Thin-Italic.eot'),
//     url('../fonts/Gilroy-Thin-Italic.woff2') format('woff2'),
//     url('../fonts/Gilroy-Thin-Italic.eot?#iefix') format('embedded-opentype'),
//     url('../fonts/Gilroy-Thin-Italic.woff') format('woff'),
//     url('../fonts/Gilroy-Thin-Italic.ttf') format('truetype');
// }

/* ULTRA LIGHT */

// @font-face {
//   font-family: 'Gilroy';
//   font-style: normal;
//   font-display: auto;
//   font-weight: 200;
//   src: local('Gilroy UltraLight'), local('Gilroy-UltraLight'),
//     url('../fonts/Gilroy-UltraLight.eot'),
//     url('../fonts/Gilroy-UltraLight.woff2') format('woff2'),
//     url('../fonts/Gilroy-UltraLight.eot?#iefix') format('embedded-opentype'),
//     url('../fonts/Gilroy-UltraLight.woff') format('woff'),
//     url('../fonts/Gilroy-UltraLight.ttf') format('truetype');
// }

// @font-face {
//   font-family: 'Gilroy';
//   font-style: italic;
//   font-display: auto;
//   font-weight: 200;
//   src: local('Gilroy UltraLight Italic'), local('Gilroy-UltraLight-Italic'),
//     url('../fonts/Gilroy-UltraLight-Italic.eot'),
//     url('../fonts/Gilroy-UltraLight-Italic.woff2') format('woff2'),
//     url('../fonts/Gilroy-UltraLight-Italic.eot?#iefix')
//       format('embedded-opentype'),
//     url('../fonts/Gilroy-UltraLight-Italic.woff') format('woff'),
//     url('../fonts/Gilroy-UltraLight-Italic.ttf') format('truetype');
// }

/* LIGHT */

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-display: auto;
  font-weight: 300;
  src: local('Gilroy Light'), local('Gilroy-Light'),
    url('../fonts/Gilroy-Light.eot'),
    url('../fonts/Gilroy-Light.woff2') format('woff2'),
    url('../fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Light.woff') format('woff'),
    url('../fonts/Gilroy-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy';
  font-style: italic;
  font-display: auto;
  font-weight: 300;
  src: local('Gilroy Light Italic'), local('Gilroy-Light-Italic'),
    url('../fonts/Gilroy-Light-Italic.eot'),
    url('../fonts/Gilroy-Light-Italic.woff2') format('woff2'),
    url('../fonts/Gilroy-Light-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Light-Italic.woff') format('woff'),
    url('../fonts/Gilroy-Light-Italic.ttf') format('truetype');
}

/* REGULAR */

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-display: auto;
  font-weight: 400;
  src: local('Gilroy Regular'), local('Gilroy-Regular'),
    url('../fonts/Gilroy-Regular.eot'),
    url('../fonts/Gilroy-Regular.woff2') format('woff2'),
    url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Regular.woff') format('woff'),
    url('../fonts/Gilroy-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy';
  font-style: italic;
  font-display: auto;
  font-weight: 400;
  src: local('Gilroy Regular Italic'), local('Gilroy-Regular-Italic'),
    url('../fonts/Gilroy-Regular-Italic.eot'),
    url('../fonts/Gilroy-Regular-Italic.woff2') format('woff2'),
    url('../fonts/Gilroy-Regular-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Regular-Italic.woff') format('woff'),
    url('../fonts/Gilroy-Regular-Italic.ttf') format('truetype');
}

/* MEDIUM */

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-display: auto;
  font-weight: 500;
  src: local('Gilroy Medium'), local('Gilroy-Medium'),
    url('../fonts/Gilroy-Medium.eot'),
    url('../fonts/Gilroy-Medium.woff2') format('woff2'),
    url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Medium.woff') format('woff'),
    url('../fonts/Gilroy-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy';
  font-style: italic;
  font-display: auto;
  font-weight: 500;
  src: local('Gilroy Medium Italic'), local('Gilroy-Medium-Italic'),
    url('../fonts/Gilroy-Medium-Italic.eot'),
    url('../fonts/Gilroy-Medium-Italic.woff2') format('woff2'),
    url('../fonts/Gilroy-Medium-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Medium-Italic.woff') format('woff'),
    url('../fonts/Gilroy-Medium-Italic.ttf') format('truetype');
}

/* SEMIBOLD */

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-display: auto;
  font-weight: 600;
  src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
    url('../fonts/Gilroy-Semibold.eot'),
    url('../fonts/Gilroy-Semibold.woff2') format('woff2'),
    url('../fonts/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Semibold.woff') format('woff'),
    url('../fonts/Gilroy-Semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy';
  font-style: italic;
  font-display: auto;
  font-weight: 600;
  src: local('Gilroy Semibold Italic'), local('Gilroy-Semibold-Italic'),
    url('../fonts/Gilroy-Semibold-Italic.eot'),
    url('../fonts/Gilroy-Semibold-Italic.woff2') format('woff2'),
    url('../fonts/Gilroy-Semibold-Italic.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/Gilroy-Semibold-Italic.woff') format('woff'),
    url('../fonts/Gilroy-Semibold-Italic.ttf') format('truetype');
}

/* BOLD */

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-display: auto;
  font-weight: 700;
  src: local('Gilroy Bold'), local('Gilroy-Bold'),
    url('../fonts/Gilroy-Bold.eot'),
    url('../fonts/Gilroy-Bold.woff2') format('woff2'),
    url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Bold.woff') format('woff'),
    url('../fonts/Gilroy-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy';
  font-style: italic;
  font-display: auto;
  font-weight: 700;
  src: local('Gilroy Bold Italic'), local('Gilroy-Bold-Italic'),
    url('../fonts/Gilroy-Bold-Italic.eot'),
    url('../fonts/Gilroy-Bold-Italic.woff2') format('woff2'),
    url('../fonts/Gilroy-Bold-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Bold-Italic.woff') format('woff'),
    url('../fonts/Gilroy-Bold-Italic.ttf') format('truetype');
}

/* EXTRA BOLD */

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-display: auto;
  font-weight: 800;
  src: local('Gilroy Extrabold'), local('Gilroy-Extrabold'),
    url('../fonts/Gilroy-Extrabold.eot'),
    url('../fonts/Gilroy-Extrabold.woff2') format('woff2'),
    url('../fonts/Gilroy-Extrabold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Extrabold.woff') format('woff'),
    url('../fonts/Gilroy-Extrabold.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy';
  font-style: italic;
  font-display: auto;
  font-weight: 800;
  src: local('Gilroy Extrabold Italic'), local('Gilroy-Extrabold-Italic'),
    url('../fonts/Gilroy-Extrabold-Italic.eot'),
    url('../fonts/Gilroy-Extrabold-Italic.woff2') format('woff2'),
    url('../fonts/Gilroy-Extrabold-Italic.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/Gilroy-Extrabold-Italic.woff') format('woff'),
    url('../fonts/Gilroy-Extrabold-Italic.ttf') format('truetype');
}

/* BLACK */

// @font-face {
//   font-family: 'Gilroy';
//   font-style: normal;
//   font-display: auto;
//   font-weight: 900;
//   src: local('Gilroy Black'), local('Gilroy-Black'),
//     url('../fonts/Gilroy-Black.eot'),
//     url('../fonts/Gilroy-Black.woff2') format('woff2'),
//     url('../fonts/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
//     url('../fonts/Gilroy-Black.woff') format('woff'),
//     url('../fonts/Gilroy-Black.ttf') format('truetype');
// }

// @font-face {
//   font-family: 'Gilroy';
//   font-style: italic;
//   font-display: auto;
//   font-weight: 900;
//   src: local('Gilroy Black Italic'), local('Gilroy-Black-Italic'),
//     url('../fonts/Gilroy-Black-Italic.eot'),
//     url('../fonts/Gilroy-Black-Italic.woff2') format('woff2'),
//     url('../fonts/Gilroy-Black-Italic.eot?#iefix') format('embedded-opentype'),
//     url('../fonts/Gilroy-Black-Italic.woff') format('woff'),
//     url('../fonts/Gilroy-Black-Italic.ttf') format('truetype');
// }

/* HEAVY */

// @font-face {
//   font-family: 'Gilroy-Heavy';
//   font-style: normal;
//   font-display: auto;
//   font-weight: 400;
//   src: local('Gilroy Heavy'), local('Gilroy-Heavy'),
//     url('../fonts/Gilroy-Heavy.eot'),
//     url('../fonts/Gilroy-Heavy.woff2') format('woff2'),
//     url('../fonts/Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
//     url('../fonts/Gilroy-Heavy.woff') format('woff'),
//     url('../fonts/Gilroy-Heavy.ttf') format('truetype');
// }

// @font-face {
//   font-family: 'Gilroy-Heavy';
//   font-style: italic;
//   font-display: auto;
//   font-weight: 400;
//   src: local('Gilroy Heavy Italic'), local('Gilroy-Heavy-Italic'),
//     url('../fonts/Gilroy-Heavy-Italic.eot'),
//     url('../fonts/Gilroy-Heavy-Italic.woff2') format('woff2'),
//     url('../fonts/Gilroy-Heavy-Italic.eot?#iefix') format('embedded-opentype'),
//     url('../fonts/Gilroy-Heavy-Italic.woff') format('woff'),
//     url('../fonts/Gilroy-Heavy-Italic.ttf') format('truetype');
// }
